# SQL Server connections
When connecting to SQL Server, you need two libraries:

* pyodbc
* sqlalchemy

In the examples below, an example is offered for connecting to a read-only database.

Furthermore, you need to have the ODBC driver installed on your computer:

* macOS: [Install the Microsoft ODBC driver for SQL Server](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver16)
* Linux: [Install the Microsoft ODBC driver for SQL Server (Linux)](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver16&tabs=alpine18-install%2Calpine17-install%2Cdebian8-install%2Credhat7-13-install%2Crhel7-offline)
* Windows [Download ODBC Driver for SQL Server](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16)

In [ ]:
# Install the necessary modules
# The --no-binary :all: is necessary to install the pyodbc module on a Mac (but doesn't hurt on Windows usually, though it might take somewhat longer to install)

%pip install --no-binary :all: pyodbc
%pip install sqlalchemy

In [9]:
# Necessary imports
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

# Database connection settings
server = 'wortellsmartlearning.database.windows.net'
database = 'lego'
username = 'XXX'
password = 'XXX'

In [22]:
# Create the connection
engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server}?driver=ODBC+Driver+18+for+SQL+Server&database={database}')

In [24]:
df = pd.read_sql('SELECT * FROM sys.tables', engine)
df

,name,object_id,principal_id,schema_id,parent_object_id,type,type_desc,create_date,modify_date,is_ms_shipped,...,history_retention_period_unit_desc,is_node,is_edge,data_retention_period,data_retention_period_unit,data_retention_period_unit_desc,ledger_type,ledger_type_desc,ledger_view_id,is_dropped_ledger_table
0,sysdiagrams,18099105,None,1,0,U,USER_TABLE,2021-06-11 13:01:05.763,2021-06-11 13:01:05.763,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
1,themes_simple,658101385,None,1,0,U,USER_TABLE,2022-01-25 10:35:38.210,2022-01-25 10:35:38.210,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
2,colors,1525580473,None,1,0,U,USER_TABLE,2021-06-11 12:21:59.527,2021-06-11 13:05:01.370,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
3,elements,1573580644,None,1,0,U,USER_TABLE,2021-06-11 12:23:58.657,2021-06-11 13:05:01.367,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
4,inventories,1589580701,None,1,0,U,USER_TABLE,2021-06-11 12:24:09.400,2021-06-18 12:26:58.293,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
5,inventory_minifigs,1605580758,None,1,0,U,USER_TABLE,2021-06-11 12:24:31.060,2021-06-11 12:58:21.537,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
6,inventory_parts,1621580815,None,1,0,U,USER_TABLE,2021-06-11 12:24:57.593,2021-06-15 18:49:52.443,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
7,minifigs,1653580929,None,1,0,U,USER_TABLE,2021-06-11 12:25:38.323,2021-06-11 12:58:21.537,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
8,part_categories,1669580986,None,1,0,U,USER_TABLE,2021-06-11 12:26:32.577,2021-06-11 13:02:06.757,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
9,part_relationships,1685581043,None,1,0,U,USER_TABLE,2021-06-11 12:26:45.073,2021-06-11 13:03:26.167,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
10,sets,1717581157,None,1,0,U,USER_TABLE,2021-06-11 12:27:08.307,2021-06-18 12:26:58.293,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
11,parts,1765581328,None,1,0,U,USER_TABLE,2021-06-11 12:31:56.010,2021-06-11 13:04:45.103,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
12,themes,1781581385,None,1,0,U,USER_TABLE,2021-06-11 12:32:28.793,2021-06-11 13:05:41.210,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False